.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: rgb(28, 205, 270);
}
.topnav a.active {
  background-color: rgb(6, 84, 112);
  color: white;
}
html, body {
    margin:0px;
    height:500px;
    width:100%;
    background-color: rgb(119, 151, 170);
    background-image: linear-gradient(90deg, rgba(20, 223, 138, 0.853), rgb(13, 227, 242));
    background-size: 150%;
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{ 
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: medium;
    border-width: 0px 0px 0px 0px;
    text-align: center;
    color: white;
}
h2:hover{
    border-width: 0px 0px 0px 0px;
    border-color: rgb(255, 255, 255);   
}
h2{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-align: center;
}
h2:hover{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: rgb(255, 255, 255);
}
.borderless{
    border-width: 0px 0px 0px 0px;
    border-color: black;
}
br{
    border-width: 0px 0px 0px 0px 0px;
}
.border:hover{
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    border-color: rgb(255, 255, 255);
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .button1:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6d;
  }
  
  .button2:hover {
    background-color: #04AA6d;
    color: white;
  }
  img:hover {
    animation: shake 0.5s;
  }

  #guessed-letters {
    color: rgb(0, 0, 0);
    font-size: 18px; 
    margin-bottom: 10px; 
  }
